# Just apply Travis-CI for these branches
branches:
  only:
  - master
  - experimental

language: node_js

node_js:
- 6
- 8
- 10

install:
- npm install

before_script:
- npm install -g gulp-cli
- gulp devel

script:
- gulp dist

notifications:
  email:
    recipients:
      - jmillan@aliax.net
      - ibc@aliax.net
    on_success: change
    on_failure: always
